*,*::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --base-100: rgb(234, 251, 255);
    --base-400: rgb(51, 92, 103);
    --base-800: rgb(19, 51, 59);
    --yellow-100: rgb(255, 255, 255);
    --purple: rgb(0, 62, 187);
    --blue: #0a61ae;

}
body {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 17px;
  color: var(--base-800);
}

a {
    text-decoration-line: none;
    transition: ease 0.3s all;
}

header {
    display: flex;
    padding: 3px 0px;
    margin: auto;
    justify-content:space-between;
    background-color: var(--yellow-100);
    a {
        color: var(--blue);
        &:hover {
            background-color: rgba(000,000,000,0.1);
            opacity: 1;
        }
        display: inline-block;
        padding: 10px 10px;
        border-radius: 10px;
    }

    .logo-holder {
        display: flex;
        padding: 10px;
        align-items: center;
        font-weight: 600;
        .logo {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: var(--base-800);
            color: var(--yellow-100);
            height: 64px;
            width: 64px;
            margin-right: 20px;
            border-radius: 50%;
            font-size: 32px;
        }
        .logo-text {
            flex: 1;
        }
        
    }

    nav {
        display: flex;
        align-items: center;
        ul {
            display: flex;
            list-style-type: none;
            gap: 5px;
            padding: 20px 10px;

            li {
                display: inline-block;
                margin-left: 20px;

            }
        }
        .mobile-toggle {
            display: none;
            padding: 20px;
        }
    }
    @media (max-width: 1024px) {
        flex-direction: column;
        align-items: center;
    }
    @media (max-width: 760px) {
        flex-direction: column;
        align-items: center;
        nav {
            width: 100%;
            ul {
                display: none;
                width: 100%;
                flex-direction: column;
                text-align: center;
                a {
                    width: 100%;
                }
                &.active {
                    display: flex;
                }
            }

            .mobile-toggle {
                display: inline-block;
                position: absolute;
                right: 20px;
                top: 20px;
            }
        }
    }


}

.container {
    margin: auto;
    gap: 30px;
}
.button {
    display: inline-block;
    background-color: var(--base-800);
    border-radius: 15px;
    color: white;
    padding: 10px 20px;
    &.white {
        background-color: white;
        color: var(--blue)
    }
    &.blue {
        &:hover {
            color: var(--blue);
            background-color: white;
        }
    }
    &.white {
        &:hover {
            background-color: var(--base-800);
            color: white;
        }
    }
}
.hero {

    @media (max-width: 1024px) {
        flex-direction: column;
    }
    display: flex;
    padding: 20px 0;
    background-color: var(--base-100);
    .hero-pic {
        flex:1;
        background-color: var(--base-400);
        margin-left: 20px;
        border-radius: 30px;
        display: flex;
        justify-content: center;
        max-width: 1000px;
        iframe {
            width: 100%;
            height: 100%;
            border-radius: inherit; /* Matches the container's border-radius */
        }
    }

    .hero-text {
        @media (max-width: 1024px) {
            text-align: center;
        }

        @media (max-width:760px) {
            padding: 20px 100px;
        }
        color: var(--base-800);
        flex: 1;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        padding: 10px;

        p {
            margin-right: 10px;
        }

        .call-to-action {
            margin: 20px 10px 0 0;
            a {
                margin-right: 10px;
                margin-top: 10px;
            }
        }

        h1 {
            margin-bottom: 15px;
            font-size: 64px;
            line-height: 1;
            small {
                display: block;
                font-weight: 100;
            }
        }

    }
}

.logos {
    background-color: var(--blue);
    padding: 10px 0;
    .marquee {
        width: 100vw;
        max-width: 100%;
        height: 100px;
        overflow: hidden;
        position: relative;
        .track{
            position:absolute;
            white-space:nowrap;
            will-change:transform;
            animation: marquee 40s linear infinite;
            display:flex;
            gap:10px;
        }
    }
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

.skills {
    h2 {
        @media (max-width: 1024px) {
            font-size: 48px;
        }
        background-color: white;
        color: var(--base-800);
        line-height: 1;
        font-size: 64px;
        padding: 10px;
        text-align: center;
        padding: 30px;
        small {
            display: block;
            font-weight: 100;
            font-size: 0.5em;
            color: var(--base-800);
        }
    }
    .skills-holder {
        @media(max-width: 1024px) {
            flex-direction: column;
            text-align: center;
        }
        background-color: var(--base-100);
        padding: 30px;
        border-radius: 30px;
        display: flex;
        h3 {
            @media(max-width: 1024px) {
                margin-top: 20px;
            }
            font-size: 32px;
            font-weight: 600;
            line-height: 1;
            margin-bottom: 20px;
            color: var(--base-800);
        }
        .left-column {
            flex:1;
            ul {
                @media(max-width: 1024px) {
                    margin: 0;
                }
                list-style-type: none;
                gap: 10px;
                margin-right: 100px;
                margin-bottom: 20px;
                li {
                    display: inline-block;
                    background-color: var(--base-800);
                    padding: 10px 20px;
                    margin-bottom: 10px;
                    border-radius: 10px;
                    color: var(--base-100);
                    font-weight: 500;
                }
            }

        }

        .right-column {
            margin-top: 20px;
            flex:1;
            p {
                margin-bottom: 20px;
                margin-right: 10px;
            }
        }
    }
}

.bento {
    h2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 64px;
        margin: 20px;
        line-height: 1;
        small {
            font-size: .5em;
            font-weight: 100;
        }
    }
    .bento-grid {
        margin: 30px;
        display: grid;
        grid-gap: 30px;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(4, 1fr);
        margin-top: 40px;
        height: 700px;

        .bento-items {

            position: relative;
            overflow: hidden;
            padding: 30px;
            background-color: var(--base-100);
            border-radius: 15px;
            border: 5px solid var(--blue);
        
            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
                transition: transform 3s ease;
            }
        
            &:hover img {
                transform: scale(1.2);
            }
        
            &:nth-child(1) {
                grid-column: span 3;
                grid-row: span 2;

            }
            &:nth-child(2) {
                grid-column: span 2;
                grid-row: span 2;
            }
            &:nth-child(3) {
                grid-column: span 2;
                grid-row: span 2;
            }
            &:nth-child(4) {
                grid-column: span 3;
                grid-row: span 2;
            }
        }
    }
}

@media (max-width: 760px) {
    .bento-grid {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
        height: 1fr;
    }

    .bento-items {
        grid-column: span 5 !important;
        grid-row: span 1 !important;
    }
}